body {
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 940px;
    background-color: #ffffff;
}

#top-nav-area {
    padding-top: 10px;
    padding-bottom: 10px;
}

#public-service {
    margin: 10px auto;
}

#main {
    color: #336699;
    font-size: 16px;
    font-weight: normal;
}

#page-body {
    margin: 10px auto;
}

.login-page, .error-page {
    font-family: 'Arial' !important;
    padding-top: 30px;
    margin: auto;
}

#login-details-container {
    padding: 30px 0;
}

.error-msg {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #E45288;
    font-size: 15px;
}

.error-message-container {
    text-align: center;
    padding: 30px 0 20px 0;
    font-size: 18px;
    line-height: 140%;
}

.error-link-to-dashboard {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#username, #password {
    margin: 2px auto;
    width: 358px;
    color: #737373;
}

#sign-in {
    margin-top: 10px;
    height: 30px;
    width: 125px;
    font-weight: bold;
}

#error-container {
    margin: auto;
    float: none;
}

#footer .holder {
    margin: 20px 0;
}

#footer ul {
    margin-left: auto;
    margin-right: auto;
    display: table;
    list-style:none;
    font-size: 15px;
}

#footer li{
    display: inline-block;
    padding:0 4px 0 6px;
    background:url(../../images/separator-navbar.gif) no-repeat 0 2px;
}

#footer a {
    color:gray;
}

#loginout {
    margin-right: 10px;
    text-align: right;
}

#top-nav-area a {
    color:#2e8b57;
}

a.hover {
    text-decoration:underline;
}

#footer .container {
    width: 960px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    float: left;
    text-align: center;
}

#initial-page {
    text-align: left;
    margin: 20px 100px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 16px;
    color: #336699;
}

.heading {
    color: #006dba;
}

#initial-page table {
    border-collapse: separate;
    border-color: gray;
    border-spacing: 0;
}

th  {
    font-size: 16px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
    display: table-cell;
}

td {
    font-size: 16px;
    font-weight: normal;
    color: #039;
    display: table-cell;
    padding: 10px 8px;
}

.who {
    padding: 0;
    margin: 0;
    float: left;
}

.tweets  {
    text-align: left;
}

.tweet  {
    text-align: left;
    margin: 5px;
    height: 50px;
}

.when  {
    font-size: 8px;
}

.tweet-details {
    margin-left: 60px;
    padding: 2px;
}

.tweets h4, .tweet-error {
    text-align: center;
}
